* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 16px;
}
@media (max-width: 480px) {
  html {
    font-size: 18px;
  }
}
body {
  font-family: 'Circe', sans-serif;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: #302a31;
}
.page-header {
  width: 100%;
}
.sitetoolbar {
  width: 100%;
  padding: 0 70px;
  border-bottom: 1px solid #c1a067;
  white-space: nowrap;
  font-size: 0.8125rem;
}
@media (max-width: 1024px) {
  .sitetoolbar {
    padding: 0 35px;
  }
}
@media (max-width: 640px) {
  .sitetoolbar {
    padding: 0 17.5px;
  }
}
.sitetoolbar__content {
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  position: relative;
}
.sitetoolbar-vertical__checkbox:checked + .sitetoolbar-vertical__label + .sitetoolbar__search-button-wrap + .sitetoolbar__sections {
  display: block;
}
.sitetoolbar__sections {
  max-width: 990px;
  flex-grow: 1;
}
@media (max-width: 1024px) {
  .sitetoolbar__sections {
    position: absolute;
    left: -300px;
    top: 46px;
    flex-grow: 0;
    background-color: #ffffff;
    z-index: 100;
    padding: 10px 20px;
    padding-right: 0;
    padding-bottom: 40px;
    transition: all 0.4s ease;
  }
}
@media (max-width: 640px) {
  .sitetoolbar__sections {
    left: -300px;
  }
}
@media (max-width: 1024px) {
  .sitetoolbar__sections.active {
    left: -35px;
  }
}
@media (max-width: 640px) {
  .sitetoolbar__sections.active {
    left: -17.5px;
  }
}
.sitetoolbar__sections-list {
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 1024px) {
  .sitetoolbar__sections-list {
    display: block;
  }
}
.sitetoolbar__section {
  display: inline-block;
  padding: 12px 0;
  margin-right: 52px;
  transition: all 0.4s ease;
}
@media (max-width: 1245px) {
  .sitetoolbar__section {
    margin-right: 30px;
  }
}
@media (max-width: 1115px) {
  .sitetoolbar__section {
    margin-right: 18px;
  }
}
@media (max-width: 1024px) {
  .sitetoolbar__section {
    display: block;
    margin: 0;
    font-size: 1rem;
    border-bottom: 1px solid #c1a067;
    padding: 10px 120px;
    padding-left: 0;
    position: relative;
  }
}
@media (max-width: 1024px) {
  .sitetoolbar__section::after {
    content: '';
    width: 10px;
    height: 16.85px;
    background: #ffffff url('../img/right-arrow.png') no-repeat center center;
    background-size: contain;
    display: inline-block;
    position: absolute;
    left: 175px;
    top: 15px;
  }
}
.sitetoolbar__section:last-of-type {
  margin-right: 0;
}
.sitetoolbar__link:hover {
  color: #c1a067;
}
.sitetoolbar__button {
  width: 185px;
  flex-shrink: 0;
  border-left: 1px solid #eceaed;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 820px) {
  .sitetoolbar__button {
    width: 145px;
  }
}
@media (max-width: 640px) {
  .sitetoolbar__button {
    display: none;
  }
}
.sitetoolbar__button:last-of-type {
  width: 125px;
  justify-content: flex-end;
}
@media (max-width: 820px) {
  .sitetoolbar__button:last-of-type {
    width: 85px;
  }
}
.sitetoolbar__quantity-of-goods-in-wishlist {
  background-color: #c1a067;
  font-size: 0.625rem;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -10px;
  color: #ffffff;
  cursor: default;
}
.header-content {
  max-width: 1440px;
  margin: 0 auto;
  padding: 10px 70px;
  padding-bottom: 19px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #302a31;
  white-space: nowrap;
}
@media (max-width: 1024px) {
  .header-content {
    padding: 10px 35px;
    padding-bottom: 19px;
  }
}
@media (max-width: 640px) {
  .header-content {
    padding: 10px 17.5px;
    padding-bottom: 19px;
  }
}
@media (max-width: 480px) {
  .header-content {
    padding: 0;
  }
}
.header-content__logo {
  max-width: 201px;
  height: auto;
}
@media (max-width: 1024px) {
  .header-content__logo-wrap {
    display: none;
  }
}
.sitetoolbar__logo-wrap {
  display: none;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1024px) {
  .sitetoolbar__logo-wrap {
    display: flex;
  }
}
.sitetoolbar__link-logo {
  display: inline-block;
  font-size: 1.8rem;
  color: #c1a067;
}
@media (max-width: 480px) {
  .sitetoolbar__link-logo {
    font-size: 1.5rem;
  }
}
.header-content__main-content {
  max-width: 802px;
  flex-grow: 1;
  margin: 0 20px;
  padding-top: 8px;
}
@media (max-width: 1024px) {
  .header-content__main-content {
    margin-right: 20px;
  }
}
@media (max-width: 480px) {
  .header-content__main-content {
    display: none;
  }
}
.header-content__search-wrap {
  margin-bottom: 30px;
}
.search-form {
  position: relative;
}
.search-form__input,
.search-form__input:focus {
  width: 100%;
  font-size: 0.875rem;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
  outline: none;
  border: none;
  border-bottom: 2px solid #c1a067;
  padding-bottom: 20px;
}
@media (max-width: 1024px) {
  .search-form__input,
  .search-form__input:focus {
    padding-bottom: 10px;
  }
}
.search-form__input::-webkit-input-placeholder {
  color: #302a31;
}
.search-form__input::-moz-placeholder {
  color: #302a31;
}
.search-form__input:-ms-input-placeholder {
  color: #302a31;
}
.search-form__input:-moz-placeholder {
  color: #302a31;
}
.search-form__button {
  width: 16px;
  height: 16px;
  outline: none;
  border: none;
  position: absolute;
  top: 5px;
  right: 0;
  background: #ffffff url('../img/search-button.png') no-repeat 0px 0px;
}
.sitetoolbar__search-button-wrap {
  display: none;
  justify-content: center;
  align-items: center;
}
@media (max-width: 640px) {
  .sitetoolbar__search-button-wrap {
    display: flex;
    width: 30px;
    height: 30px;
  }
}
@media (max-width: 480px) {
  .sitetoolbar__search-button-wrap {
    display: flex;
    width: auto;
    height: auto;
  }
}
.sitetoolbar__search-button-link {
  display: none;
  width: 22px;
  height: 22px;
}
@media (max-width: 480px) {
  .sitetoolbar__search-button-link {
    display: block;
  }
}
.sitetoolbar__search-button {
  width: 22px;
  height: 22px;
}
.search-form__button:hover {
  background-position: -15px 0px;
}
.sitetoolbar__mobile-login-wrap {
  display: none;
  justify-content: center;
  align-items: center;
}
@media (max-width: 640px) {
  .sitetoolbar__mobile-login-wrap {
    display: flex;
  }
}
.sitetoolbar__mobile-login-link {
  height: 30px;
}
@media (max-width: 480px) {
  .sitetoolbar__mobile-login-link {
    height: 25px;
  }
}
.sitetoolbar__mobile-login {
  width: 30px;
  height: 30px;
}
@media (max-width: 480px) {
  .sitetoolbar__mobile-login {
    width: 25px;
    height: 25px;
  }
}
.sitetoolbar__mobile-wishlist-wrap {
  display: none;
  justify-content: center;
  align-items: center;
}
@media (max-width: 640px) {
  .sitetoolbar__mobile-wishlist-wrap {
    display: flex;
  }
}
.sitetoolbar__mobile-wishlist-link {
  height: 30px;
}
@media (max-width: 480px) {
  .sitetoolbar__mobile-wishlist-link {
    height: 25px;
  }
}
.sitetoolbar__mobile-wishlist {
  width: 30px;
  height: 30px;
}
@media (max-width: 480px) {
  .sitetoolbar__mobile-wishlist {
    width: 25px;
    height: 25px;
  }
}
.sitetoolbar__mobile-button {
  margin-right: 10px;
}
@media (max-width: 480px) {
  .sitetoolbar__mobile-button {
    margin-right: 20px;
  }
}
.sitetoolbar__mobile-button:last-of-type {
  margin: 0;
}
.search-form__button-icon {
  width: 14px;
  height: auto;
}
.header-content__contacts-wrap {
  font-family: 'Circe Extra Bold', sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  flex-wrap: wrap;
}
@media (max-width: 1245px) {
  .header-content__contacts-wrap {
    justify-content: center;
  }
}
.header-content__contact {
  margin-bottom: 5px;
  margin-right: 28px;
}
@media (max-width: 1245px) {
  .header-content__contact {
    margin-right: 35px;
  }
}
@media (max-width: 640px) {
  .header-content__contact {
    margin-right: 20px;
  }
}
.header-content__contact:last-of-type {
  margin-right: 0;
}
.header-content__link-contact:hover {
  color: #c1a067;
}
.header-content__callback::before,
.header-content__email::before,
.header-content__working-hours::before {
  content: '';
  background: #ffffff url('../img/contacts-icons.png') no-repeat;
  display: inline-block;
  position: relative;
  left: -16px;
}
@media (max-width: 640px) {
  .header-content__callback::before,
  .header-content__email::before,
  .header-content__working-hours::before {
    left: -6px;
  }
}
.header-content__callback::before {
  width: 11px;
  height: 13px;
  background-position: 0px -1px;
  top: 1px;
}
.header-content__email::before {
  width: 16px;
  height: 13px;
  background-position: -11px -1px;
  top: 1px;
}
.header-content__working-hours::before {
  width: 16px;
  height: 16px;
  background-position: -27px 0px;
  top: 2px;
}
.header-content__shopping-bag-wrap {
  width: 90px;
  min-width: 80px;
  height: 84px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #c1a067 url('../img/shopping-bag.png') no-repeat center center;
}
@media (max-width: 640px) {
  .header-content__shopping-bag-wrap {
    display: none;
  }
}
.header-content__shopping-bag-wrap:hover {
  background-color: #cfad73;
}
.header-content__link-shopping-bag {
  width: 100%;
  height: 100%;
  position: relative;
}
.header-content__quantity-of-goods {
  position: absolute;
  right: 9px;
  top: 11px;
  font-size: 0.625rem;
  color: #ffffff;
}
.top-menu {
  width: 100%;
  display: flex;
  margin: 0 auto;
}
@media (max-width: 1024px) {
  .top-menu {
    display: none;
  }
}
.top-menu__filling-free-space-left {
  flex-grow: 1;
  background-color: #302a31;
}
.top-menu__sections {
  max-width: 1280px;
  flex-grow: 1;
  padding-left: 70px;
  background-color: #302a31;
}
@media (max-width: 1420px) {
  .top-menu__sections {
    padding-left: 50px;
  }
}
@media (max-width: 1330px) {
  .top-menu__sections {
    padding-left: 30px;
  }
}
@media (max-width: 1200px) {
  .top-menu__sections {
    padding-left: 10px;
  }
}
.top-menu__section {
  display: inline-block;
  padding: 18px 0;
  margin-right: 58px;
  position: relative;
  transition: all 0.4s ease;
}
@media (max-width: 1420px) {
  .top-menu__section {
    margin-right: 45px;
  }
}
@media (max-width: 1330px) {
  .top-menu__section {
    margin-right: 25px;
  }
}
@media (max-width: 1200px) {
  .top-menu__section {
    margin-right: 15px;
  }
}
.top-menu__section:last-of-type {
  margin-right: 0;
}
.top-menu__link {
  font-size: 1rem;
  color: #ffffff;
}
.top-menu__section:hover {
  cursor: pointer;
}
.top-menu__section:hover > .top-menu__link {
  color: #c1a067;
}
.top-menu__sale {
  max-width: 90px;
  display: flex;
  padding: 18px 0;
  justify-content: flex-end;
}
.top-menu__link-sale {
  text-transform: uppercase;
}
.top-menu__sale-wrap {
  max-width: 160px;
  flex-grow: 1;
  padding-right: 70px;
  background-color: #c16774;
}
@media (max-width: 1420px) {
  .top-menu__sale-wrap {
    padding-right: 50px;
  }
}
@media (max-width: 1330px) {
  .top-menu__sale-wrap {
    padding-right: 30px;
  }
}
@media (max-width: 1200px) {
  .top-menu__sale-wrap {
    padding-right: 10px;
  }
}
.top-menu__sections-list {
  display: flex;
  flex-wrap: wrap;
}
.top-menu__filling-free-space-right {
  flex-grow: 1;
  background-color: #c16774;
}
.top-menu__subsections-list {
  position: absolute;
  top: 57px;
  left: 0;
  border-top: 4px solid #c1a067;
  background-color: #ffffff;
  white-space: nowrap;
  display: none;
  padding: 29px 29px;
  padding-top: 22px;
  cursor: default;
  z-index: 100;
}
.top-menu__subsection-link:hover {
  color: #c1a067;
}
.top-menu__subsection {
  margin-bottom: 10px;
}
.top-menu__subsection:last-of-type {
  margin-bottom: 0;
}
.top-menu__section:hover > .top-menu__subsections-list {
  display: block;
}
.top-menu__link-sale:hover {
  color: #c1a067;
}
.sitetoolbar-vertical__checkbox {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  display: none;
}
@media (max-width: 1024px) {
  .sitetoolbar-vertical__checkbox {
    display: block;
  }
}
.sitetoolbar-vertical__label {
  display: none;
}
@media (max-width: 1024px) {
  .sitetoolbar-vertical__label {
    display: block;
  }
}
@media (max-width: 640px) {
  .sitetoolbar-vertical__label {
    margin-right: 10px;
  }
}
@media (max-width: 480px) {
  .sitetoolbar-vertical__label {
    margin-right: 20px;
  }
}
.sitetoolbar-vertical__hamburger {
  margin: 13px 0;
  width: 25px;
  height: 19px;
  position: relative;
}
.sitetoolbar-vertical__bar {
  padding: 0;
  width: 25px;
  height: 3px;
  background-color: #c1a067;
  display: block;
  border-radius: 4px;
  transition: all 0.4s ease-in-out;
  position: absolute;
}
.sitetoolbar-vertical__bar-1 {
  top: 0;
  transform-origin: 5%;
}
.sitetoolbar-vertical__bar-2,
.sitetoolbar-vertical__bar-3 {
  top: 8px;
}
.sitetoolbar-vertical__bar-3 {
  right: 0;
}
.sitetoolbar-vertical__bar-4 {
  bottom: 0;
  transform-origin: 10%;
}
.sitetoolbar-vertical__checkbox:checked + .sitetoolbar-vertical__label > .sitetoolbar-vertical__hamburger > .sitetoolbar-vertical__bar-1 {
  transform: rotate(45deg);
  height: 2px;
  width: 27.6px;
}
.sitetoolbar-vertical__checkbox:checked + .sitetoolbar-vertical__label > .sitetoolbar-vertical__hamburger > .sitetoolbar-vertical__bar-3 {
  transform: rotate(45deg);
  height: 2px;
  background-color: transparent;
}
.sitetoolbar-vertical__checkbox:checked + .sitetoolbar-vertical__label > .sitetoolbar-vertical__hamburger > .sitetoolbar-vertical__bar-2 {
  transform: rotate(-45deg);
  height: 2px;
  background-color: transparent;
}
.sitetoolbar-vertical__checkbox:checked + .sitetoolbar-vertical__label > .sitetoolbar-vertical__hamburger > .sitetoolbar-vertical__bar-4 {
  transform: rotate(-45deg);
  height: 2px;
  width: 27.6px;
}
.mobile-top-menu {
  display: none;
}
@media (max-width: 1024px) {
  .mobile-top-menu {
    display: block;
  }
}
.mobile-top-menu__button-wrap {
  display: block;
  height: 40px;
  border-bottom: 1px solid #c1a067;
}
.mobile-top-menu__button-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: #c1a067;
}
.mobile-top-menu__button-text {
  position: relative;
}
.mobile-top-menu__button-icon {
  width: 15px;
  height: 15px;
  position: absolute;
  left: -30px;
  top: 4px;
}
.mobile-top-menu__sections {
  display: none;
  position: relative;
  z-index: 50;
}
.mobile-top-menu__sections.active {
  display: block;
}
.mobile-top-menu__sections-list {
  width: 90%;
  background-color: #ffffff;
  position: absolute;
  left: -100%;
  top: 0;
  transition: all 0.4s ease;
}
.mobile-top-menu__sections-list.active {
  left: 0;
}
.mobile-top-menu__section {
  text-align: center;
  padding-bottom: 5px;
  padding-top: 5px;
  background-color: #302a31;
}
.mobile-top-menu__section:last-of-type {
  background-color: #c16774;
}
.mobile-top-menu__link {
  display: inline-block;
  color: #ffffff;
  width: 100%;
  height: 100%;
}
main {
  height: 1000px;
  background-color: #eeeeee;
}
