
@black: #302a31;
@golden: #c1a067;
@pink: #c16774;


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    font-family: 'Circe', sans-serif;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: @black;
}

.page-header {
    width: 100%;
}

.sitetoolbar {
    width: 100%;
    padding: 0 70px;
    border-bottom: 1px solid #eceaed;
    white-space: nowrap;
    font-size: 0.8125rem;
}

.sitetoolbar__content {
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
}

.sitetoolbar__sections {
    max-width: 990px;
    flex-grow: 1;
}

.sitetoolbar__sections-list {
    display: flex;
    flex-wrap: wrap;
}

.sitetoolbar__section {
    display: inline-block;
    padding: 12px 0;
    margin-right: 52px;
}

.sitetoolbar__section:last-of-type {
    margin-right: 0;
}

.sitetoolbar__link:hover {
    color: @golden;
}

.sitetoolbar__button {
    width: 185px;
    flex-shrink: 0;
    border-left: 1px solid #eceaed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sitetoolbar__button:last-of-type {
    width: 125px;
    justify-content: flex-end;
}

.sitetoolbar__quantity-of-goods-in-wishlist {
    background-color: @golden;
    font-size: 0.625rem;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -10px;
    color: #ffffff;
    cursor: default;
}

.header-content {
    max-width: 1440px;
    margin: 0 auto;
    padding: 10px 70px;
    padding-bottom: 19px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: @black;
    white-space: nowrap;
}

.header-content__logo {
    max-width: 201px;
    height: auto;
}

.header-content__main-content {
    max-width: 802px;
    flex-grow: 1;
    margin: 0 20px;
    padding-top: 8px;
}

.header-content__search-wrap {
    margin-bottom: 30px;
}

.search-form {
    position: relative;
}

.search-form__input,
.search-form__input:focus {
    width: 100%;
    font-size: 0.875rem;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    outline: none;
    border: none;
    border-bottom: 2px solid @golden;
    padding-bottom: 20px;
    
}

.search-form__input::-webkit-input-placeholder {
    color: @black;
}

.search-form__input::-moz-placeholder {
    color: @black;
}

.search-form__input:-ms-input-placeholder {
    color: @black;
}

.search-form__input:-moz-placeholder {
    color: @black;
}

.search-form__button {
    width: 16px;
    height: 16px;
    outline: none;
    border: none;
    background-color: #ffffff;
    position: absolute;
    top: 5px;
    right: 0;
    background: #ffffff url('/img/search-button.png') no-repeat 0px 0px;
}

.search-form__button:hover {
    background-position: -15px 0px;
}

.search-form__button-icon {
    width: 14px;
    height: auto;
}

.header-content__contacts-wrap {
    font-family: 'Circe Extra Bold', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.875rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    flex-wrap: wrap;
}

.header-content__contact {
    margin-bottom: 5px;
}

.header-content__link-contact:hover {
    color: @golden;
}

.header-content__callback::before,
.header-content__email::before,
.header-content__working-hours::before {
    content: '';
    background: #ffffff url('/img/contacts-icons.png') no-repeat;
    display: inline-block;
    position: relative;
    left: -16px;
}

.header-content__callback::before {
    width: 11px;
    height: 13px;
    background-position: 0px -1px;
    top: 1px;
}

.header-content__email::before {
    width: 16px;
    height: 13px;
    background-position: -11px -1px;
    top: 1px;
}

.header-content__working-hours::before {
    width: 16px;
    height: 16px;
    background-position: -27px 0px;
    top: 2px;
}

.header-content__shopping-bag-wrap {
    width: 90px;
    height: 84px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: @golden url('/img/shopping-bag.png') no-repeat center center;
}

.header-content__shopping-bag-wrap:hover {
    background-color: #cfad73;
}

.header-content__link-shopping-bag {
    width: 100%;
    height: 100%;
    position: relative;
}

.header-content__quantity-of-goods {
    position: absolute;
    right: 9px;
    top: 11px;
    font-size: 0.625rem;
    color: #ffffff;
}

.top-menu {
    width: 100%;
    display: flex;
    margin: 0 auto;
}

.top-menu__filling-free-space-left {
    flex-grow: 1;
    background-color: @black;
}

.top-menu__sections {
    max-width: 1280px;
    flex-grow: 1;
    padding-left: 70px;
    background-color: @black;
}

.top-menu__section {
    display: inline-block;
    padding: 18px 0;
    margin-right: 58px;
    position: relative;
}

.top-menu__section:last-of-type {
    margin-right: 0;
}

.top-menu__link {
    font-size: 1rem;
    color: #ffffff;
}

.top-menu__section:hover {
    cursor: pointer;
}

.top-menu__section:hover > .top-menu__link {
    color: @golden;
}

.top-menu__sale {
    max-width: 90px;
    display: flex;
    padding: 18px 0;
    justify-content: flex-end;
}

.top-menu__link-sale {
    text-transform: uppercase;
}

.top-menu__sale-wrap {
    max-width: 160px;
    flex-grow: 1;
    padding-right: 70px;
    background-color: @pink;
}

.top-menu__sections-list {
    display: flex;
    flex-wrap: wrap;
}

.top-menu__filling-free-space-right {
    flex-grow: 1;
    background-color: @pink;
}

.top-menu__subsections-list {
    position: absolute;
    top: 57px;
    left: 0;
    border-top: 4px solid @golden;
    background-color: #ffffff;
    white-space: nowrap;
    display: none;
    padding: 29px 29px;
    padding-top: 22px;
    cursor: default;
}

.top-menu__subsection-link:hover {
    color: @golden;
}

.top-menu__subsection {
    margin-bottom: 10px;
}

.top-menu__subsection:last-of-type {
    margin-bottom: 0;
}

.top-menu__section:hover > .top-menu__subsections-list {
    display: block;
}

.top-menu__link-sale:hover {
    color: @golden;
}